.auth-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.ripple-parent {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  small:hover {
    color: var(--ion-color-primary);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  ion-item {
    width: 100%;
    &::part(native) {
      border-radius: 0.25rem;
    }
  }
}

.auth-form-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  ion-button {
    margin: 0;
    text-transform: none;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.or-text {
  width: 100%;
  text-align: center;
}
