<ion-card>
  <img
    [src]="movieData.image.filepath"
    fallbackImage
  />
  <ion-card-header>
    <ion-card-title> {{ movieData.title }} </ion-card-title>
    <ion-card-subtitle>
      <app-movie-rate [rate]='movieData.rate'></app-movie-rate>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ movieData.shortDescription }}
  </ion-card-content>

  <div class="card-actions">
    <ion-button color="secondary" size="small">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-button>
    <ion-button color="secondary" size="small">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </div>
</ion-card>
