.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  padding-right: 1px;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

ion-card {
  height: 367px;
}
