<div class="add-movie-container">
  <h1 class="add-movie-title">{{ uuid ? 'Edit movie' : 'Add movie' }}</h1>

  <ion-thumbnail class="ion-activatable" (click)="uploadMovieImage()">
    <img [src]="movieImage" fallbackImage />
    <ion-ripple-effect></ion-ripple-effect>
  </ion-thumbnail>

  <form [formGroup]="form" class="movie-form">
    <ion-input
      id="title"
      formControlName="title"
      label="Title *"
      label-placement="floating"
      fill="solid"
      placeholder="e.g., The Lord of the Rings: The Fellowship of the Ring"
      errorText="Please enter the movie title."
    ></ion-input>

    <ion-textarea
      id="description"
      formControlName="description"
      label="Description *"
      labelPlacement="floating"
      fill="solid"
      placeholder="e.g., Embark on a quest to destroy the One Ring and save Middle-earth from the forces of darkness."
      [counter]="true"
      maxlength="300"
      [autoGrow]="true"
      errorText="Make sure to provide a comprehensive description of the movie."
    ></ion-textarea>

    <ion-textarea
      id="shortDescription"
      formControlName="shortDescription"
      label="Short description *"
      labelPlacement="floating"
      fill="solid"
      placeholder="e.g., An epic fantasy film directed by Peter Jackson."
      [counter]="true"
      maxlength="180"
      [autoGrow]="true"
      helperText="It will be used for display in the movies list."
      errorText="Provide a brief description of the movie."
    ></ion-textarea>

    <ion-item lines="none" style="width: 100%">
      <ion-label> Release date </ion-label>
      <ion-datetime-button
        slot="end"
        datetime="releaseDatePicker"
      ></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="releaseDatePicker"
          formControlName="releaseDate"
          presentation="date"
          [max]="maxDate"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-input
      id="genre"
      formControlName="genre"
      label="Genre *"
      label-placement="floating"
      fill="solid"
      placeholder="e.g., Fantasy"
      errorText="Choose at least one genre for the movie."
    ></ion-input>

    <div class="form-buttons">
      <ion-button
        type="button"
        fill="clear"
        color="danger"
        routerLink="/movies"
      >
        Cancel
      </ion-button>
      <ion-button type="button" [disabled]="form.invalid" (click)="saveMovie()"> Save </ion-button>
    </div>
  </form>
</div>
